@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    text-align: left;
    margin: auto;
    font-family: 'Merriweather';
    font-family: 'Poppins', sans-serif;
    background-color: #c9cfe3;

}
.container {
    background: #FFFFFF;
    border-radius: 16px;
    max-width: 1213px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    .header {
        .navbar {
        display: flex;
        justify-content: space-between;
        .input {
            flex: 0 0 20%;
            border: 1px solid #BFC8E6;
            border-radius: 4px;
            padding: 16px;
            gap: 8px;
            border: 1px solid #BFC8E6;
            border-radius: 4px;
        }
        .nav-item-container {
            flex: 0 0 50%;
            list-style: none;
            display: flex;
            .item {
                flex: 0 0 20%;
                padding: 16px;
                text-align: center;
                border-radius: 10px;
                display: inline-block;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover{
                background-color: #849FFF;
                }
            }
        }
        }
    }
    .main {
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        .user {
            flex: 0 0 auto;
            width: 32%;
            background-color: #f8f9fd;
            border: 2px;
            border-radius: 10px;
            padding: 10px 0;
            margin: 5px;
            display: flex;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            & :hover{
                border: 2px;
                border-color: #151B42;
                }
                .img-container {
                    flex: 0 0 50%;
                    img {
                        width: 97px;
                        height: 97px;
                        border-radius: 50%;
                    }
                }
                .decription {
                    .name {
                        font-family: 'Merriweather';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 18px;
                        line-height: 23px;
                        color: #151B32;
                        margin-bottom: 15px;
                    }
                    .hobby {
                        .aaa {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 2px 8px;
                            gap: 10px;border: 1px solid #BFC8E6;
                            border-radius: 10px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
}